/*Estrutura basica da página
******************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.92em;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.container{
    width: 80%;
    max-width: 90%;
    margin: auto;
}

p{
    color: rgb(94, 94, 94);
}

a{
    text-decoration: none;
    color: rgb(133, 133, 133);
}


button{
    border-radius: 2em;
    padding: 1em 1.5em;
    margin-right: 0.5em;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    font-size: 1em;
}
/*Cabeçalho
******************************/
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0px 0px 3px  3px  rgba(0, 0, 0, 0.151);
    background-color: #FFF;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1em 0;
}

nav{
    display: flex ;
    align-items: center;
    gap: 3em;
}

a.active{
    color: blue;
}

nav a{
    font-size: 1.15em;
    font-weight: 600;
}

nav a:hover{
    color: blue;
    transition: 300ms;
}

nav button{
    background: linear-gradient(124deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 51%);
    text-transform: none;
    border: 2px solid black;
}

nav button:hover{
    background: linear-gradient(124deg, rgba(255,255,255,1) 51%, rgba(0,0,0,1) 50% );
    transition: 250ms;
    color: black;
}

nav button span{
    color: black;
}

nav button:hover span{
    color: white;
    transition: 250ms;
}

#logo img{
    width: 45px;
    height: 45px;
    
}

.blue{
    color: blue;
}

.blue:hover{
    color: blue;
}


/*Contatos e Rodapé
******************************/
footer{
    max-width: 100%;
    padding: 4em 0 2em;
    margin-top: 8em;
    background-color: black;
    color: white;
    border-top: 1px solid rgb(212, 212, 212);
}

footer .container{
    text-align: center;
    position: relative;
}

#titulo-contatos p{
    color: gray;
    font-size: 1.5em;
    margin: 1em 0;
}

#titulo-contatos h2{
    font-size: 2.5em;
    margin-bottom: 1.8em;
}

#contatos{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3em;
}

.contato{
    font-weight: bold;
    width: 30%;
    z-index: 75;
}

.contato p{
    margin: 1em;
    font-size: 1em;
}

.contato a i{
    color: white;
    border-radius: 100%;
    border: 2px solid white;
    padding: 1em;
    font-size: 2em;
    background-color: black;
}

.contato a:hover i{
    color: #0000ffcc;
    background-color: white;
    transition: 350ms;
}

.borda{
    border: 1px solid white;
    margin-top: 3em;
    position: absolute;
    width: 60%;
}

#redes h2{
    margin-top: 1em;
}

.redes{
    padding-top: 2em;
    display: flex;
    justify-content: center;
    gap: 0.8em;
}

.redes a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 255, 0.76);
}

.redes a i{
    color: rgba(0, 0, 255, 0.76);
    font-size: 1.3em;
}

.redes a:hover i{
    color: white;
    transition: 350ms;
}

.redes a:hover{
    background-color: rgba(0, 0, 255, 0.76);
    transition: 350ms;
    animation: 0.5s translate alternate infinite;
}

#rodape{
    margin-top: 3em;
    border-top: 1px solid white;
}
#rodape p{
    margin-top: 1em;
    font-size: 1.2em;
}

/*Animações
********************************/
@keyframes translate {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-8px);
    }
    
}

#hamburguer{
    display: none;
}

/*Responsividade
******************************/

@media (max-width: 768px){

    .container{
        width: 100%;
    }

    .carousel-item img {
        width: 100% ;
    }
    

    .projeto-info{
        margin-top: 1em !important;
        width: 100% !important;
        padding-top: 12em !important;
        margin: 0 !important;
        text-align: center !important;
    }

    .pi{
        padding: 1em 0 !important;
    }

    button{
        font-size: 0.8em !important;
    }

    /*Cabeçalho*/

    header .container{
        flex-direction: column;
    }

    nav{
        display: none ;    
        flex-direction: column;
        font-size: 0.85em;
    }
    
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #hamburguer{
        display: flex;
        font-size: 1.95em;
    }

    /*Perfil*/
    section#perfil{
        padding-top: 0em;
    }

    section#perfil .container{
        width: 100%;
        height: 95vh;
    }

    #foto{
        display: none !important;
    }

    /*Sobre*/
    section#sobre{
        max-width: 100%;
        padding: 6em 0  2em;
        text-align: center;
    }
    
    section#sobre .container{
        padding: 4em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #img-sobre{
        width: 100%;
    }

    #img-sobre img{
        width: 100%;
    }

    #texto-sobre {        
        margin-top: 2em;
        padding: 0em;
        font-size: 0.9em;
    }

    /*SKILLS*/
    .skills-slide .img-skill img{
        margin: 0 2em !important;
    }

    /*Portifolio*/
    #texto-port #titulo{
        font-size: 2em !important;
    }
    
    #texto-port p{
        color: rgb(94, 94, 94) !important;
        font-size: 1.1em !important;
        letter-spacing: 0.05em !important;
        padding-bottom: 0.5em !important;
    }

    
    #projetos{
        margin-top: 4em !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 0em !important;
    }

    .img-projeto{
        margin-bottom: 3.5em !important;
    }

    .img-projeto img{
        height: 350px !important;
    }

    /*rodape*/
    #titulo-contatos h2{
        font-size: 2em !important;
    }


}

@media (max-width: 908px){
    button{
        font-size: 0.8em !important;
    }
}


/*Modo dark*/

.light{
    background-color: #fff;
}

.dark{
    background-color: black;
}

.box-light{
    box-shadow: 0px 0px 3px  3px  rgba(255, 255, 255, 0.181);
}

.text-white{
    color: white;
}



